node-linker=hoisted
# Ensure next resolution works properly
public-hoist-pattern[]=*next*
# Needed for proper dependency installation
public-hoist-pattern[]=*react*
public-hoist-pattern[]=*react-dom*
shamefully-hoist=true
